<div id="<%= dom_id apoiador %>">
  <div>
    <strong>Nome:</strong>
    <%= apoiador.nome %>
  </div>

  <div>
    <strong>Whatsapp:</strong>
    <%= apoiador.whatsapp %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= apoiador.email %>
  </div>

  <div>
    <strong>Endereco:</strong>
    <%= apoiador.endereco %>
  </div>

  <div>
    <strong>Bairro:</strong>
    <%= apoiador.bairro_id %>
  </div>

  <div>
    <strong>Municipio:</strong>
    <%= apoiador.municipio_id %>
  </div>

  <div>
    <strong>Regiao:</strong>
    <%= apoiador.regiao_id %>
  </div>

  <div>
    <strong>Funcao:</strong>
    <%= apoiador.funcao_id %>
  </div>

  <div>
    <strong>Lider:</strong>
    <%= apoiador.lider_id %>
  </div>

</div>
