<div id="<%= dom_id evento %>">
  <div>
    <strong>Titulo:</strong>
    <%= evento.titulo %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= evento.descricao %>
  </div>

  <div>
    <strong>Data hora:</strong>
    <%= evento.data_hora %>
  </div>

  <div>
    <strong>Local:</strong>
    <%= evento.local %>
  </div>

  <div>
    <strong>Coordenador:</strong>
    <%= evento.coordenador_id %>
  </div>

</div>
