<div id="<%= dom_id convite %>">
  <div>
    <strong>Nome convidado:</strong>
    <%= convite.nome %>
  </div>

  <div>
    <strong>Whatsapp:</strong>
    <%= convite.whatsapp %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= convite.status %>
  </div>

  <div>
    <strong>Enviado por:</strong>
    <%= convite.enviado_por_id %>
  </div>

</div>
