<div id="<%= dom_id comunicado %>">
  <div>
    <strong>Titulo:</strong>
    <%= comunicado.titulo %>
  </div>

  <div>
    <strong>Conteudo:</strong>
    <%= comunicado.conteudo %>
  </div>

  <div>
    <strong>Data envio:</strong>
    <%= comunicado.data_envio %>
  </div>

  <div>
    <strong>Tipo:</strong>
    <%= comunicado.tipo %>
  </div>

</div>
